<main>
    <div class="logincontainer">

        <div class="logincarte">
            <div class="header-reset">
                <h2>Sécurisation</h2>
                <p>Définissez votre nouveau mot de passe</p>
            </div>

            <form (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label>Nouveau mot de passe</label>
                    <input type="password" [(ngModel)]="newPassword" name="password" 
                           placeholder="••••••••" required />
                </div>
                
                <div class="input-group">
                    <label>Confirmez le mot de passe</label>
                    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" 
                           placeholder="••••••••" required />
                </div>

                <button type="submit" [disabled]="newPassword !== confirmPassword">
                    Mettre à jour
                </button>
            </form>

            <p *ngIf="message" class="error-msg">{{ message }}</p>
            
            <div class="footer-link">
                <a routerLink="/login">Retour à la connexion</a>
            </div>
        </div>
    </div>
</main>